%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        XMP-ARISTID => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::XMP_ARISTID',
            },
        },
    },
);

%Image::ExifTool::UserDefined::XMP_ARISTID = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-ARISTID', 2 => 'Image' },
    NAMESPACE => { 'ARISTID' => 'http://ns.cacom.fr/aristid/1.0/' },
    WRITABLE => 'string',
    Xmp_ARISTIDclient => { Writable => 'string' },
    Xmp_ARISTIDjobId  => { Writable => 'string' },
);

1;  # end